*{
    margin: 30px;
    padding: 5px;

}
button{
    background-color: aqua;
    color: brown;
    
}
button:hover{
    background-color: black;
    color: white;
}
#bijoy{
 color: aliceblue;
 text-size-adjust: 20px;
 font-size: medium;
 
}
#colOne{
    border-radius: 20px;
    border: 1px solid white !important;

}

#colTow{
    border-radius: 20px;
    border: 1px solid white !important;

}